party-upload .drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  text-align: center;
  padding: 25px;
  margin-bottom: 20px;
}
party-upload .drop-box.dragover {
  border: 5px dashed blue;
}
party-upload .drop-box.dragover-err {
  border: 5px dashed red;
}

party-upload .ng-crop h3 {
  margin-top: 0;
}

party-upload .ng-crop-container {
  width: 400px;
  height: 225px;
  display: none;
}

party-upload .images-container-title {
  padding-bottom: 30px;
}
party-upload .party-image-container {
  position: relative;
  margin-right: 10px;
  max-height: 200px;
  max-width: 200px;
}
party-upload .party-image-container img {
  max-height: 100%;
  max-width: 100%;
}

party-upload .main-image {
  border: 2px solid #ddd;
}

party-upload .upload-preview {
  margin-top: 20px;
  width: 100px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.image-preview {
  width: 300px;
}
