
<main>
  <div class="logo"></div>
  <div class="logotype">
    <span class="wishing" data-text="Wishing">Wishing</span><span class="vine" data-text="VINE">VINE</span>
  </div>
  <p class="welcomeText">
    Sign up to share what you're<br />
    wishing for with family &amp; friends!<br />
  </p>
  <button ng-click="welcome.signInWithFacebook()" class="facebook logInWithFacebook">
    <span class="text">Log In with Facebook</span>
  </button>
  <a class="signUpWithEmail" ui-sref="sign-up">
    Sign Up with email instead <i class="icon-forward highlightGradient"></i>
  </a>
  <a class="alreadyHaveAccount" ui-sref="sign-in">
    I already have an account <i class="icon-forward highlightGradient"></i>
  </a>
</main>

<!--<h2>Welcome!</h2>
<p>
  Ever returned a present?<br />
  Ever got stuck picking a gift?<br />
  <br />
  We’ve been there too.<br />
  The maddness stops now!
</p>
<p>
  <button ui-sref="sign-up"><span class="text">Let's Begin!</span></button>
</p>
<p>
  <a ui-sref="sign-in">I have an account <i class="icon-forward highlightGradient"></i></a>
</p>

<div class="loader">
	<div class="dot"></div>
	<div class="dot"></div>
	<div class="dot"></div>
</div>-->

<!--<p class="without-account">
  <a ui-sref="wish-list">Continue without account <i class="icon-forward highlightGradient"></i></a>
</p>-->

