<header id="header">
  <button class="leftButton" ui-sref="settings">
    <span class="text">
      <i class="icon-back highlightGradient"></i>
    </span>
  </button>
  <h1>
    Change Password
  </h1>
</header>

<main id="main">
  <form name="changePassword.form.changePassword" novalidate="novalidate">
    <div class="form-group">
      <input type="password" placeholder="Current password" ng-model="changePassword.data.currentPassword" required />
    </div>
    <div class="form-gorup">
      <input type="password" placeholder="New password" ng-model="changePassword.data.newPassword" required />
    </div>
    <button ng-click="changePassword.changePassword()" ng-disabled="changePassword.form.changePassword.$invalid" ng-class="{ 'disabled': changePassword.form.changePassword.$invalid }">
      <span class="text">Save</span>
    </button>
    <p ng-if="changePassword.err.message">{{changePassword.err.message}}</p>
  </form>
</main>


<script charset="utf-8">
  var height = document.getElementById("header").offsetHeight;
  document.getElementById("main").style.marginTop = height + 20 + 'px';
</script>
