<div class="modal">
  <div class="frame">
    <button class="infoButton" ui-sref="info">
        <i class="icon-info"></i>
    </button>
    <p class="text">
      Do you plan to get this gift for Name Here?
    </p>
    <img src="images/no-profile.jpg">
    <p class="text">
      Pokemon Moon - Nintendo 3DS Moon Edition
    </p>
    <p>
      <button class="secondary">
        <span class="text">Back</span>
      </button>
      <button>
        <span class="text">Yup!</span>
      </button>
    </p>
  </div>
</div>
